API="https://api.transatron.io"
PRIVATE_KEY="<private key of the wallet you will be sending example transactions from>"
TRANSATRON_API_KEY_NON_SPENDER="<YOUR NON-SPENDER API KEY HERE>"
TRANSATRON_API_KEY_SPENDER="<YOUR SPENDER API KEY HERE>"
TARGET_ADDRESS="<address of the wallet that example transactions will be sent to>"
